In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import os
uri = os.environ.get('MONGO_URI')

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [2]:
import pandas as pd
import pymongo

In [3]:
import pymongo
# Replace <connection_string> with the actual connection string provided by MongoDB Atlas
client = pymongo.MongoClient(uri)
db = client["flight_experiment"]
collection = db["Kaggle_CSV"]

In [4]:
df = pd.read_csv("Airline_review.csv")
df = df[:100]

In [5]:
csv_data = df.to_dict("records")

In [6]:
df.head()

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [7]:
collection.insert_many(csv_data)

InsertManyResult([ObjectId('66031449784d27d08217ab08'), ObjectId('66031449784d27d08217ab09'), ObjectId('66031449784d27d08217ab0a'), ObjectId('66031449784d27d08217ab0b'), ObjectId('66031449784d27d08217ab0c'), ObjectId('66031449784d27d08217ab0d'), ObjectId('66031449784d27d08217ab0e'), ObjectId('66031449784d27d08217ab0f'), ObjectId('66031449784d27d08217ab10'), ObjectId('66031449784d27d08217ab11'), ObjectId('66031449784d27d08217ab12'), ObjectId('66031449784d27d08217ab13'), ObjectId('66031449784d27d08217ab14'), ObjectId('66031449784d27d08217ab15'), ObjectId('66031449784d27d08217ab16'), ObjectId('66031449784d27d08217ab17'), ObjectId('66031449784d27d08217ab18'), ObjectId('66031449784d27d08217ab19'), ObjectId('66031449784d27d08217ab1a'), ObjectId('66031449784d27d08217ab1b'), ObjectId('66031449784d27d08217ab1c'), ObjectId('66031449784d27d08217ab1d'), ObjectId('66031449784d27d08217ab1e'), ObjectId('66031449784d27d08217ab1f'), ObjectId('66031449784d27d08217ab20'), ObjectId('66031449784d27d08217ab21'), ObjectId('66031449784d27d08217ab22'), ObjectId('66031449784d27d08217ab23'), ObjectId('66031449784d27d08217ab24'), ObjectId('66031449784d27d08217ab25'), ObjectId('66031449784d27d08217ab26'), ObjectId('66031449784d27d08217ab27'), ObjectId('66031449784d27d08217ab28'), ObjectId('66031449784d27d08217ab29'), ObjectId('66031449784d27d08217ab2a'), ObjectId('66031449784d27d08217ab2b'), ObjectId('66031449784d27d08217ab2c'), ObjectId('66031449784d27d08217ab2d'), ObjectId('66031449784d27d08217ab2e'), ObjectId('66031449784d27d08217ab2f'), ObjectId('66031449784d27d08217ab30'), ObjectId('66031449784d27d08217ab31'), ObjectId('66031449784d27d08217ab32'), ObjectId('66031449784d27d08217ab33'), ObjectId('66031449784d27d08217ab34'), ObjectId('66031449784d27d08217ab35'), ObjectId('66031449784d27d08217ab36'), ObjectId('66031449784d27d08217ab37'), ObjectId('66031449784d27d08217ab38'), ObjectId('66031449784d27d08217ab39'), ObjectId('66031449784d27d08217ab3a'), ObjectId('66031449784d27d08217ab3b'), ObjectId('66031449784d27d08217ab3c'), ObjectId('66031449784d27d08217ab3d'), ObjectId('66031449784d27d08217ab3e'), ObjectId('66031449784d27d08217ab3f'), ObjectId('66031449784d27d08217ab40'), ObjectId('66031449784d27d08217ab41'), ObjectId('66031449784d27d08217ab42'), ObjectId('66031449784d27d08217ab43'), ObjectId('66031449784d27d08217ab44'), ObjectId('66031449784d27d08217ab45'), ObjectId('66031449784d27d08217ab46'), ObjectId('66031449784d27d08217ab47'), ObjectId('66031449784d27d08217ab48'), ObjectId('66031449784d27d08217ab49'), ObjectId('66031449784d27d08217ab4a'), ObjectId('66031449784d27d08217ab4b'), ObjectId('66031449784d27d08217ab4c'), ObjectId('66031449784d27d08217ab4d'), ObjectId('66031449784d27d08217ab4e'), ObjectId('66031449784d27d08217ab4f'), ObjectId('66031449784d27d08217ab50'), ObjectId('66031449784d27d08217ab51'), ObjectId('66031449784d27d08217ab52'), ObjectId('66031449784d27d08217ab53'), ObjectId('66031449784d27d08217ab54'), ObjectId('66031449784d27d08217ab55'), ObjectId('66031449784d27d08217ab56'), ObjectId('66031449784d27d08217ab57'), ObjectId('66031449784d27d08217ab58'), ObjectId('66031449784d27d08217ab59'), ObjectId('66031449784d27d08217ab5a'), ObjectId('66031449784d27d08217ab5b'), ObjectId('66031449784d27d08217ab5c'), ObjectId('66031449784d27d08217ab5d'), ObjectId('66031449784d27d08217ab5e'), ObjectId('66031449784d27d08217ab5f'), ObjectId('66031449784d27d08217ab60'), ObjectId('66031449784d27d08217ab61'), ObjectId('66031449784d27d08217ab62'), ObjectId('66031449784d27d08217ab63'), ObjectId('66031449784d27d08217ab64'), ObjectId('66031449784d27d08217ab65'), ObjectId('66031449784d27d08217ab66'), ObjectId('66031449784d27d08217ab67'), ObjectId('66031449784d27d08217ab68'), ObjectId('66031449784d27d08217ab69'), ObjectId('66031449784d27d08217ab6a'), ObjectId('66031449784d27d08217ab6b')], acknowledged=True)